html,body{
    height: 100%;
    background-color: aquamarine;
    transition-property: background-color;
    transition-duration: 3s;
}
h1{
    text-align: center;
}
.container{
    height: 95%;
}
#quote{
    
    font:36px/1.4 'cardo';
    transition:opacity 2s;
}
#author{

    font:36px/1.4 'cardo';
    transition:opacity 2s;
    
}
.card-body{
    opacity: 1;
}